<mat-card style="width:auto;height:auto">
  <b> Internship 4.0 Evaluation</b><br>
    Round one<br>
SE<mat-slider 
  (input)="someValue = $event.value" 
  [value]="someValue"
  bac>
</mat-slider>
{{ someValue}}<br>QA
<mat-slider 
  (input)="someValue1 = $event.value" 
  [value]="someValue1">
  
</mat-slider>
{{ someValue1 }}<br>BA
<mat-slider 
  (input)="someValue2 = $event.value" 
  [value]="someValue2">
</mat-slider>
{{ someValue2 }}<br>
Round 2<br>SE

<mat-slider 
  (input)="someValue3 = $event.value" 
  [value]="someValue3">
</mat-slider>
{{ someValue3 }}<br>QA
<mat-slider 
  (input)="someValue4 = $event.value" 
  [value]="someValue4">
</mat-slider>
{{ someValue4 }}<br>BA
<mat-slider 
  (input)="someValue5= $event.value" 
  [value]="someValue5">
</mat-slider>
{{ someValue5 }}



</mat-card>